$color-error: #a33b3b;
$color-warning: #d9d442;
$color-success: #3aa555;

$color-primary: #297f3f;
$color-primary-light: #e4f6e9;
$color-primary-dark: #15401F;

$color-secondary: #6BC7BA;
$color-secondary-light: #7CE0CF;
$color-secondary-dark: #356059;

$color-copy: #876D6F;
$color-copy-inverse: #dddddd;

$color-copy2: #88653C;
$color-copy-inverse: #ffffff;


$color-neutral: #7F7F7D;
$color-neutral-light: #EAEAE4;
$color-neutral-dark: #333332;


$break-small: 620px;
