@import '../styles/variables';

.container {
  list-style: none;
}

.link {
  color: initial;

  &:hover {
    color: $color-primary;
  }

  &.active {
    color: $color-primary;
    font-weight: 600;
  }
}
